* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #25283D;
  color: #fff;
}

.table-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.table-wrapper {
  width: 50vw;
  background-color: #a675a1;
  margin: 1rem;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
}

ul {
  list-style: none;
}
.main {
  margin: 1rem;
  text-align: center;
}

input { 
  border: .2rem solid #cea2ac;
  border-radius: 1rem;
  padding: .5rem 2rem;
  color: #25283D;
  outline: none;
}
@media only screen and (min-width: 600px) {
  .table-container {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .table-wrapper {
    width: 20vw;
  }
}

@media only screen and (min-width: 992px) {
  .table-wrapper {
    width: 10vw;
  }
}